# Ignore all
*

# Unignore directories
!src/
!include/
!include/hclust-cpp/

# Unignore source code files
!**/*.cpp
!**/*.hpp
!**/*.h

# Unignore .gitignore, readme, make, configure install specs
!Makefile
!README.md
!.gitignore
